
<div class="container-fluid">
    <div class="container gear_con">
        <h3 class="gear_list">My Gear Lists:</h3>

    </div>
    <div class="camera">
        <div class="container">
            <div class="row cam_row">
                <div class="col-3 cam_col1">
                    <h3>Cameras</h3>
                </div>
                <div class="col-8 cam_col2">
                    
                        <div class="row">
                            <div class="col-5">
                                <p>Canon 200d mark2</p>
                            </div>
                            <div class="col-7">
                                <img src="assets/images/canon_200dii.png" alt="">
                            </div>
                        </div>
                    
                        <div class="row"> 
                            <div class="col-5">
                                <p>Sony A7c mirrorless</p>
                            </div>
                            <div class="col-7">
                                <img src="assets/images/sony_a7c.jpg" alt="">
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-6">
                                <p>Canon 6D Mark2</p>
                            </div>
                            <div class="col-6">
                                <img src="assets/images/eos6d-mkii-ef-24-105mm-l.png" alt="">
                            </div>
                        </div>

                </div>
            </div>
            
        </div>
        
    </div>

 

    <div class="lens">
        <div class="container">
            <div class="row lens_row">
                <div class="col-3 lens_col1">
                    <h3>Lenses</h3>
                </div>
                <div class="col-8 lens_col2">
                    
                    <div class="row">
                        <div class="col-6">
                            <p>Canon EF-S18-55mm/f4-5.6</p>
                        </div>
                        <div class="col-6">
                            <img src="assets/images/ef-s18-55mm-f4-5_6-is-stm_b1.png" alt="">
                        </div>
                    </div>
             
                    <div class="row">
                        <div class="col-6">
                            <p>Canon EF50mm/f1.8</p>
                        </div>
                        <div class="col-6">
                            <img src="assets/images/EF50f1.8stm_b3.png" alt="">
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-6">
                            <p>Canon EF70-200mm/f2.8L+IS+III+USM</p>
                        </div>
                        <div class="col-6">
                            <img src="assets/images/EF70-200mm+f2.8L+IS+III+USM.png" alt="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <p>Sony 24mm/f1.4</p>
                        </div>
                        <div class="col-6">
                            <img src="assets/images/241.4.jpg" alt="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <p>Sony 35mm/f1.4</p>
                        </div>
                        <div class="col-6">
                            <img src="assets/images/sony_35_f1.4.jpg" alt="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <p>Sony 24-70mm/f2.8 G-Master</p>
                        </div>
                        <div class="col-6">
                            <img src="assets/images/24-70f2.8.jpg" alt="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <p>Sony 70-200mm/f2.8 G-Master</p>
                        </div>
                        <div class="col-6">
                            <img src="assets/images/sony_sel70200gm_fe_70_200mm_f_2_8_gm.jpg" alt="">
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>



    <div class="anamorphic_lens">
        <div class="container">
            <div class="row an_len_row">
                <div class="col-3 an_len_col1">
                    <h3>Anamorphic Lens</h3>
                </div>
                <div class="col-8 an_len_col2">
                    <div class="row">
                        <div class="col-6">
                            <p>Sirui 50mm-f1.8 Anamorphic-1.33x lens</p>
                        </div>
                        <div class="col-6">
                            <img src="assets/images/Sirui-50mm-F1.8-Anamorphic-1.33X-Lens.jpg" alt="">
                        </div>
                    </div>
                     

                </div>
            </div>
        </div>
    </div>
 

    <div class="gimbal">
        <div class="container">
            <div class="row gimbal_row">
                <div class="col-3 gimbal_col1">
                    <h3>Gimbals</h3>
                </div>
                <div class="col-8 gimbal_col2">
                    
                    <div class="row">
                        <div class="col-6">
                            <p>Dji Ronin S</p>
                        </div>
                        <div class="col-6">
                            <img src="assets/images/dji_ronin_s.jpg" alt="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <p>Dji Osmo5</p>
                        </div>
                        <div class="col-6">
                            <img src="assets/images/dji_osmo_5.jpg" alt="">
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
   

    <div class="tripod">
        <div class="container">
            <div class="row tripod_row">
                <div class="col-3 tripod_col1">
                    <h3>Tripods</h3>
                </div>
                <div class="col-8 tripod_col2">
                    
                    <div class="row">
                        <div class="col-6">
                            <p>Sirui AM-225 Carbon-Fiber</p>
                        </div>
                        <div class="col-6">
                            <img src="assets/images/Sirui-AM-225-Carbon-Fiber-Travel-Tripod-with-B-00K-Ball-Head.jpg" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    
    <div class="flashes">
        <div class="container">
            <div class="row flashes_row">
                <div class="col-3 flashes_col1">
                    <h3>Flashes</h3>
                </div>
                <div class="col-8 flashes_col2">
                    <div class="row">
                        <div class="col-6">
                            <p>Godox V80</p>
                        </div>
                        <div class="col-6">
                            <img src="assets/images/godox_v80.jpeg" alt="">
                        </div>
                    </div>
                   

                </div>
            </div>
        </div>
    </div>
    
    
<router-outlet></router-outlet>