<div class="container">

    <div class="row r1">

        <div class="col-6 col-sm-6 col-md-5 col-lg-3 c1">
            <div class="alert alert-danger" *ngIf="error">
                {{error}}
            </div>
            <div *ngIf="isLoading" style="text-align: center;">
                <app-loading-spinner></app-loading-spinner>
            </div>

            <form (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="!isLoading">

                <div class="input-group mb-1">
                    <input type="email" class="form-control" placeholder="email" id="email" ngModel name="email"
                        #email="ngModel" required>
                </div>

                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="email_validation">
                    <p>Please enter a valid email</p>
                </div>

                <div class="input-group mb-4 mt-4">
                    <input type="password" class="form-control" placeholder="Password" id="password" ngModel
                        name="password" required #password="ngModel">
                </div>

                <div class="btn_row1">
                    <button type="submit" class="btn btn-1" [disabled]=!f.valid>{{isLoginMode? 'Log In' :
                        'Sign Up'}}</button>
                </div>
                <div class="btn_row2">
                    <p (click)="onSwitchMode()" class="para-2">switch to <span>{{!isLoginMode?
                            'LogIn' : 'SignUp'}}</span></p>
                </div>





            </form>
        </div>
    </div>
</div>