
 <!-- footer -->

    <div class="top_scroll" (click)="onTopScroll()" data-bs-toggle="tooltip" data-bs-placement="left" title="Back to top">
        <i class="fas fa-arrow-alt-circle-up fa-3x"></i>

    </div>


 <div class="container-fluid mt-5">
    <div class="row p-3 footer_row">
        <div class="col-6 footer_col">
            <p>All content and photographs © 2021 RAGUL Photography</p>
            <p>All printed products, including books, prints & calendars, on this website are sold by
                Outdoor
                Publishing.
            </p>
        </div>

        <div class="col-6 social_col">
            <i class="fas fa-lg fa-envelope"></i>
            <i class="fab fa-lg fa-youtube"></i>
            <i class="fab fa-lg fa-instagram"></i>
            <i class="fab fa-lg fa-twitter"></i>
            <i class="fab fa-lg fa-facebook-square"></i>
        </div>
    </div>
</div>


<!-- Footer end -->