
/* carousel */

.carousel-inner img {
    height: 700px;
    background-size: cover;
    width: 100%;
    margin-right: 0;
    z-index: -1;
    /* height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden; */
  
}

.carousel-inner p {
    font-size: 15px;
}

.carousel-inner i {
    padding-right: 10px;
}


@media (max-width: 768px) {
    .carousel-item>img {
        height: 300px;
        width: 100%;
    }
}

/* carousel end */
